option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_DATASOURCE_URL: "__SPRING_DATASOURCE_URL__"
    SPRING_DATASOURCE_USERNAME: "__SPRING_DATASOURCE_USERNAME__"
    SPRING_DATASOURCE_PASSWORD: "__SPRING_DATASOURCE_PASSWORD__"
    SPRING_MAIL_HOST: "__SPRING_MAIL_HOST__"
    SPRING_MAIL_PORT: "__SPRING_MAIL_PORT__"
    SPRING_MAIL_USERNAME: "__SPRING_MAIL_USERNAME__"
    SPRING_MAIL_PASSWORD: "__SPRING_MAIL_PASSWORD__"
